

.footer {
  display: flex;
  justify-content: start;
  gap: 5rem;
  padding: 20px;
  width: 100vw;
    height: auto;
    background-color: #eaede9df;
    border-top: 4px solid #99f2c8;
    position: relative;
}

.footer-link {
  margin: 0 10px;
}

.footer-link a {
  color: #424d44;
  text-decoration: none;
  font-size: .65rem;
   letter-spacing: 1.5px; 
   line-height: 3rem;
}
h6{
  color: black;

}
span{
    display: flex;
    color: #5f6562;
    justify-content: center;
    align-items: end;
    margin-left: 7rem;
}

a {
  position: relative;
  color: #99f2c8;
  cursor: pointer;
}

a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 100%; 
  width: 0;
  height: 3px; 
  background-color: #99f2c8;
  transition: width 0.10s ; 
}

a:hover::after {
  left: 0; 
  width: 100%; 
}


.social-media-icons {
  margin-top: 20px;
  position: absolute;
  right: 1rem;
  bottom: 1rem ;
}

.social-media-icons a {
  font-size: 22px;
  margin: 2rem .5rem;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s; 
}
.icon{
margin-right: 3rem;
}

.social-media-icons a:hover {
  transform: scale(1.2); 
}



.fa-instagram {
  color: #E4405F; /* Instagram-Farbe */
}

.fa-youtube {
  color: #FF0000; /* YouTube-Farbe */
}

.fa-twitter {
  color: #1DA1F2; /* Twitter-Farbe */
}

.fa-pinterest {
  color: #BD081C; /* Pinterest-Farbe */
}

.footer-input{
    border: none;
    border-bottom: 1px solid #424d44;
    width: 80%;
}

.footer-input:focus{
    outline: red;
    border-bottom: 1px solid #99f2c8
}

.footer-input::placeholder{
    color: #424d44;
}
.footer-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: start;
    width: 100%;
    margin-top: 2rem;
}
  p{
      font-size: 1rem;

} 

.button{
   background: transparent;
    color: #424d44;
    border: 1px solid #424d44;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1.5rem;
    width: 14rem;
    
   
}

